build/*.js
src/assets
public
dist
node_modules
src/views/pageMaking/iconfont
src/views/digitalPerson/addDigitaVideo/plugins
src/views/digitalPerson/createDigitaVideo/components/leftSide/editorCustom/plugins