// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

$menuText: #ffffff;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff;
$menuBg: #263480;
$menuHover: rgba(255, 255, 255, 0.1);
$subMenuBg: #263480;
$subMenuHover: rgba(255, 255, 255, 0.1);
$subMenuActive: #0c6fff;
$sideBarWidth: 160px;
$headHeight: 68px;
$historyHeight: 72px;
$pageBg: #f6faff;
$primaryColor: #0c6fff;

@mixin responsive-height($pxHeight) {
  height: calc(100vh - (#{$headHeight} + #{$historyHeight}) - #{$pxHeight});
}

:root {
  --menuText: #{$menuText};
  --menuActiveText: #{$menuActiveText};
  --subMenuActiveText: #{$subMenuActiveText};
  --menuBg: #{$menuBg};
  --menuHover: #{$menuHover};
  --subMenuBg: #{$subMenuBg};
  --subMenuHover: #{$subMenuHover};
  --sideBarWidth: #{$sideBarWidth};
  --subMenuActive: #{$subMenuActive};
}
